body {
    background-color: aliceblue;
}

footer {
    background-color: orange;
    border-radius: 10px;
}

h1 {
    color: brown;
    text-align: center;    
}

p {
    font-family: '휴먼편지체', sans-serif;
    text-indent: 1em;
    font-size: 1em;
}

section {
    background-color: pink;
    margin: 10px;
    text-indent: 1em;
}

form {
    font-family: '휴먼편지체', sans-serif;
}

form > strong {
    color: blue;
    font-family: 'Arial', sans-serif;
}